<section id="map-container">
  <div id="map-canvas"></div>
</section>

<section id="side-panel">
  <div id="search-container">
    <div id='search-bar'>
      <div class='cell'><input class="typeahead" type='search' placeholder='search by..'></div>
      <div class='cell'></div>
    </div>

    <span class="custom-dropdown big">
        <select id="ddrp1">
            <option>name</option>
            <option>company</option>
            <option>cohort</option>
        </select>
    </span>
  </div>
  <div id="grad-container">
  </div>
</section>
<footer>
  <p>These locations are indicative only of the city location in general, and not workplace/home addresses.</p>
  <p>If you're a DBC grad and wish to be removed from this list, please email info at gradmapper with the subject line "Gradmapper remove" (sorry for the intrusion).</p>
  <p>If you don't see yourself and would like to be included, or if you wish to fix any inaccurate info, please email your name and your public LinkedIn url to info at gradmapper.</p>
</footer>