<div id="search_bar">HELLO</div>
<div class="search-container">
  <%= form_tag do %>
    <%= text_field_tag "search", nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>
<div id="map-container">
  <div id="map-canvas">
  </div>
</div>
<div class="buttons-container">
</div>
<div class="carousel" id="grad-container">
</div>