<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47534899-2', 'auto');
  ga('send', 'pageview');

</script>
<section id="map-container">
  <div id="map-canvas"></div>
</section>

<section id="side-panel">
  <div id="button-container">
    <a class="reset-btn" href="#">reset</a>
  </div>
  <div id="search-container">
    <!-- <div id='search-bar'> -->
      <div class='cell'><input class="typeahead" type='search' placeholder='search by..'></div>
      <div class='cell'></div>
    <!-- </div> -->
  </div>
  <div id="filter-container">
    <span class="custom-dropdown big">
        <select id="ddrp1">
            <option>name</option>
            <option>city</option>
            <option>company</option>
            <option>cohort</option>
        </select>
    </span>
  </div>
  <div id="grad-container">
  </div>
</section>
<footer>
  <p>If you are interested in having a similar community platform for your graduate network, please email <em>info at gradmapper</em>.</p>
</footer>
<div class="modal"></div>