<section id="map-container">
  <div id="map-canvas"></div>
</section>

<section id="side-panel">
  <div id="search-container">
    <div id='search-bar'>
      <div class='cell'><input class="typeahead" type='search' placeholder='search by..'></div>
      <div class='cell'></div>
    </div>

    <span class="custom-dropdown big">
        <select id="ddrp1">
            <option>name</option>
            <option>city</option>
            <option>company</option>
            <option>cohort</option>
        </select>
    </span>
  </div>
  <div id="grad-container">
  </div>
</section>
<footer>
  <strong><p>These locations are indicative only of the city location.</p>
  <p>If you wish to add/remove/modify your info, please email <em>info at gradmapper</em>.</p></strong>
</footer>
<div class="modal"></div>