<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div id="grad-container">
</div>
<footer><p>If you're a DBC grad and wish to be removed from this list, please email info@gradmapper.com (sorry for the intrusion).</p></footer>