<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div class="grad-container">
  <h2 class="panel-title">Search Cohorts</h2>
  <%= form_tag do %>
    <%= text_field_tag "search", nil, placeholder: "Search", autocomplete: :off, class:"disabled-input" %>
  <% end %>
</div>