var markersArray = [];
var infoBoxes = [];

var initializeMap = function() {
  var startLatlng = new google.maps.LatLng(40.7048872,-74.0123737);
  var mapOptions = {
    zoom: 3,
    minZoom: 3,
    center: startLatlng
  };
  window.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

var populateGraduates = function(graduates) {
  // $('.carousel').slick('unslick');
  $("#grad-container").empty();

  graduates.forEach(function(graduate) {
    var latitude_longitude = new google.maps.LatLng((parseFloat(graduate.lat)), (parseFloat(graduate.long)))
    var marker = new google.maps.Marker({
      position: latitude_longitude,
      map: window.map
    })
    if (graduate.img_url !== "unknown") {
      var contentString = "<div class='grad-panel'><img class='grad-pic' src=" + graduate.img_url + "><div class='grad-content'><p class='grad-name'>" + graduate.name + "</p><p class='grad-cohort_name'>" + graduate.cohort_name + "</p><p class='grad-company'>" + graduate.company + "</p>" + "<a href=" + graduate.linked_in + ">LinkedIn </a></div></div>"
    } else {
      var contentString = "<div class='grad-panel'><img class='grad-pic' src='<%= asset_path('devbootcamplogo.jpeg') %>'><div class='grad-content' src='#'><p class='grad-name'>" + graduate.name + "</p><p class='grad-cohort_name'>" + graduate.cohort_name + "</p><p class='grad-company'>" + graduate.company + "</p>" + "<a href=" + graduate.linked_in + ">LinkedIn </a></div></div>"
    }
    var infoWindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 140
    })
    $("#grad-container").append(contentString);
    markersArray.push(marker);
    infoBoxes.push(infoWindow);
    google.maps.event.addListener(marker, 'mouseover', function() {
      infoBoxes.forEach(function(infoBox) {
        infoBox.close();
      })
      infoWindow.open(window.map, marker);
    });
  })
}

var populateMarkers = function(cohortName) {
  $.ajax({
    type: "GET",
    url: "/graduates",
    data: {cohort: cohortName}
  }).done(function(response) {
    populateGraduates(response)
  })
}

var initializeAutoComplete = function() {
  var fruits = ['Apple', 'Banana', 'Orange'];
  var url = '/graduates?q={input}'
  var widget = new AutoComplete('search_bar', url);
}

$(document).ready(function(){
  initializeMap();
  populateMarkers();
  initializeAutoComplete();
})