var initializeMap = function() {
  window.nameArray = []
  window.cohortArray = []
  window.cityArray = []
  window.companyArray = []
  window.markersArray = [];
  window.infoBoxes = [];
  window.markerCluster = null;
  var startLatlng = new google.maps.LatLng(38.0984323,-93.6047106);
  var styleArray = [
    {
      featureType: "poi",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];
  var mapOptions = {
    zoom: 3,
    minZoom: 2,
    maxZoom: 10,
    center: startLatlng,
    disableDefaultUI: true,
    styles: styleArray
  };
  window.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

var populateGraduates = function(graduates, initialize) {
  $("#grad-container").empty();
  window.infoBoxes = []

  graduates.forEach(function(graduate) {
    if (graduate.display === true && initialize === true) {
      nameArray.push(graduate.name)
      cohortArray.indexOf(graduate.cohort_name) === -1 ? cohortArray.push(graduate.cohort_name) : ""
      companyArray.indexOf(graduate.company) === -1 ? companyArray.push(graduate.company) : ""
      cityArray.indexOf(graduate.city) === -1 ? cityArray.push(graduate.city) : ""
    }
    var infoWindowString = "<p class='grad-name'>" + graduate.name + "</p>"

    var gradPanelString = "<div class='grad-panel'>";
    if (graduate.img_url) {
      gradPanelString += "<img class='grad-pic' src=" + graduate.img_url + ">";
    } else {
      gradPanelString += "<img class='grad-pic' src='<%= asset_path('avatar.png') %>'>";
    }
    gradPanelString += "<div class='grad-content'><p class='grad-name'>" + graduate.name

    if (graduate.linked_in) {
      gradPanelString += "<div id='social'><a target='_blank' class='linkedinBtn smGlobalBtn' href=";
      gradPanelString += graduate.linked_in.replace(/\/$/,'');
      gradPanelString += "></a></div>";
    }

    gradPanelString += "</p>"

    if (graduate.city && graduate.city !== "city unknown") {
      gradPanelString += "<p class='grad-city'>";
      gradPanelString += graduate.city.replace(/Greater|Area|City/g,'').trim();
      if (graduate.city && graduate.city !== graduate.state_or_country) {
        gradPanelString += ", " + graduate.state_or_country
      }
      gradPanelString += "</p>";
    }

    if (graduate.company !== "company unknown") {
      gradPanelString += "<p class='grad-company'>";
      gradPanelString += graduate.company;
      gradPanelString += "</p>";
    }

    gradPanelString += "</div></div>";

    var latitude_longitude = new google.maps.LatLng((parseFloat(graduate.lat)), (parseFloat(graduate.long)))
    var createImage = function(url){
      var image = {
        url: url,
        size: new google.maps.Size(32, 32),
        origin: new google.maps.Point(0,0),
        anchor: new google.maps.Point(0, 32)
      };
      return image;
    }
    var regularMarker = createImage("http://maps.gstatic.com/mapfiles/markers/marker.png")
    var hoverMarker = createImage("http://maps.gstatic.com/mapfiles/markers/marker_yellow.png")
    var marker = new google.maps.Marker({
      position: latitude_longitude,
      map: window.map,
      icon: regularMarker
    })
    var infoWindow = new google.maps.InfoWindow({
        content: infoWindowString,
        maxWidth: 500
    })

    $("#grad-container").append("<div class='grad-panel-wrapper'>" + gradPanelString + "</div>");
    var $gradPanel = $("#grad-container").children().last()

    if (graduate.lat !== "unknown") {
      $gradPanel.on('click', function() {
        infoBoxes.forEach(function(infoBox) {
          infoBox.close();
        })
        infoWindow.open(window.map, marker);
        map.panTo(marker.getPosition());
        map.setZoom(10);
      })
    }
    markersArray.push(marker);
    infoBoxes.push(infoWindow);
    google.maps.event.addListener(marker, 'mouseover', function() {
      marker.setIcon(hoverMarker);
      infoBoxes.forEach(function(infoBox) {
        infoBox.close();
      })
      infoWindow.open(window.map, marker);
    });
    google.maps.event.addListener(marker, 'mouseout', function() {
      infoWindow.close();
      marker.setIcon(regularMarker);
    });
    google.maps.event.addListener(marker, 'click', function() {
      $("#grad-container").scrollTop(0)
      $("#grad-container").animate({
        scrollTop: $gradPanel.offset().top - 225
      })
    });
  })
}

var setAllMap = function(map) {
  for (var i = 0; i < markersArray.length; i++) {
    markersArray[i].setMap(map);
  }
}

var clearClusterMarkers = function() {
  if (markerCluster) {
    markerCluster.clearMarkers();
  }
  setAllMap(null);
  markersArray = [];
}


var populateMarkers = function(filter, input, initialize) {
  var searchInputs = {
    type: "GET",
    url: "/graduates",
  }

  if (filter && input) {
    searchInputs.data = {
      filter: filter.replace(/^\s+|\s+$/g, ''),
      input: input
    }
  } else if (filter) {
    searchInputs.data = {
      filter: filter.replace(/^\s+|\s+$/g, ''),
    }
  }


  $.ajax(searchInputs).done(function(response) {
    populateGraduates(response, initialize);
  }).done(function() {
    var mcOptions = {gridSize: 40, maxZoom: 10}
    markerCluster = new MarkerClusterer(map, markersArray, mcOptions);
  })
}

var initializeSearch = function() {
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substrRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push({ value: str });
        }
      });
      cb(matches);
    };
  };

  var setTypeAhead = function(suggestions) {
    $('.typeahead').typeahead('destroy')
    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      displayKey: 'value',
      source: substringMatcher(suggestions)
    });
  }

  setTypeAhead(nameArray)

  var $searchFilter = "name"

  $("#ddrp1").on("change", function() {
    $searchFilter = $("#ddrp1").val()
    if ($searchFilter === "name") {
      setTypeAhead(nameArray)
    }
    else if ($searchFilter === "company") {
      setTypeAhead(companyArray)
    }
    else if ($searchFilter === "cohort") {
      setTypeAhead(cohortArray)
    }
    else if ($searchFilter === "city") {
      setTypeAhead(cityArray)
    }
  })


  $('.typeahead').bind('typeahead:selected', function() {
    var input = $(".tt-cursor").text()
    $("#grad-container").empty();
    clearClusterMarkers();
    populateMarkers($searchFilter, input, false);
  });
}

var initializeTitleButton = function() {
  $(".reset-btn").on("click", function() {
    resetMap();
  })
}

var resetMap = function($searchFilter) {
  clearClusterMarkers();
  $(".twitter-typeahead").find("input").val("")
  initializeMap();
  populateMarkers($searchFilter, '', true);
}

$(document).ready(function(){
  initializeMap();
  populateMarkers('', '', true);
  initializeSearch();
  initializeTitleButton();
})