var markersArray = [];
var infoBoxes = [];

var initializeMap = function() {
  var startLatlng = new google.maps.LatLng(40.7048872,-74.0123737);
  var mapOptions = {
    zoom: 3,
    minZoom: 3,
    center: startLatlng
  };
  window.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

var populateGraduates = function(graduates) {
  $("#grad-container").empty();

  graduates.forEach(function(graduate) {
    var latitude_longitude = new google.maps.LatLng((parseFloat(graduate.lat)), (parseFloat(graduate.long)))
    var marker = new google.maps.Marker({
      position: latitude_longitude,
      map: window.map
    })


    var contentString = "<div class='grad-panel'>";
    if (graduate.img_url) {
      contentString += "<img class='grad-pic' src=" + graduate.img_url + ">";
    } else {
      contentString += "<img class='grad-pic' src='<%= asset_path('devbootcamplogo.jpeg') %>'>";
    }
    contentString += "<div class='grad-content'><p class='grad-name'>" + graduate.name + "</p>";

    if (graduate.city) {
      contentString += "<p class='grad-city'>";
      contentString += graduate.city.replace(/Greater|Area|City/g,'').trim();
      contentString += "</p>";
    }

    contentString += "<p class='grad-cohort_name'>";
    contentString += graduate.cohort_name;
    contentString += "</p>";

    if (graduate.company !== "company unknown") {
      contentString += "<p class='grad-company'>";
      contentString += graduate.company;
      contentString += "</p>";
    }

    if (graduate.linked_in) {
      contentString += "<a href=";
      contentString += graduate.linked_in.replace(/\/$/,'');
      contentString += ">LinkedIn</a>";
    }
    contentString += "</div></div>";

    var infoWindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 140
    })
    $("#grad-container").append(contentString);
    var $gradPanel = $("#grad-container").children().last()

    if (graduate.lat !== "unknown") {
      $gradPanel.on('click', function() {
        infoBoxes.forEach(function(infoBox) {
          infoBox.close();
        })
        infoWindow.open(window.map, marker);
        map.panTo(marker.getPosition());
        map.setZoom(12);
      })
    }
    markersArray.push(marker);
    infoBoxes.push(infoWindow);
    google.maps.event.addListener(marker, 'mouseover', function() {
      infoBoxes.forEach(function(infoBox) {
        infoBox.close();
      })
      infoWindow.open(window.map, marker);
    });
  })
}

var populateMarkers = function(cohortName) {
  $.ajax({
    type: "GET",
    url: "/graduates",
    data: {cohort: cohortName}
  }).done(function(response) {
    populateGraduates(response)
  })
}

$(document).ready(function(){
  initializeMap();
  populateMarkers();
})