body {
  background-color: #F37A5A;
}

.logo {
  display: inline-block;
}

.title {
  font-size: 3em;
  color: #F2F2F2;
  text-align: center;
  font-family: 'Allerta';
  text-shadow: 1.5px 1.5px black;
}

#map-canvas {
  height: 384px;
  width: 100%;
}

#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 75%;
}