@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  text-align: left;
}

.smGlobalBtn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border:1px solid #ddd;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.reset-btn {
  letter-spacing: .1rem;
  font-weight: bold;
  font-family: 'Open Sans';
  text-shadow: 1px 1px black;

  background: #b3d1ff;
  background-image: -webkit-linear-gradient(top, #b3d1ff, #2980b9);
  background-image: -moz-linear-gradient(top, #b3d1ff, #2980b9);
  background-image: -ms-linear-gradient(top, #b3d1ff, #2980b9);
  background-image: -o-linear-gradient(top, #b3d1ff, #2980b9);
  background-image: linear-gradient(to bottom, #b3d1ff, #2980b9);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.reset-btn:hover {
  border: 1px solid #B1B1B1;
}

.reset-btn:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #2980b9, #3498db);
  background-image: -moz-linear-gradient(top, #2980b9, #3498db);
  background-image: -ms-linear-gradient(top, #2980b9, #3498db);
  background-image: -o-linear-gradient(top, #2980b9, #3498db);
  background-image: linear-gradient(to bottom, #2980b9, #3498db);
  text-decoration: none;
}

body {
  margin: 0;
  background: #f8f8f8;
  font-family: "Helvetica Neue";
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  padding: .25rem;
  margin: .5rem;
}

a {
  text-decoration: none;
  color: #b3d1ff;
  line-height: 1.5rem;
}

header {
  color: #b3d1ff;
  text-align: center;
  padding-bottom: 1.5rem;
  overflow: auto;
  background: #333333;
  width: 100%;
}

.title {
  letter-spacing: .1rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Open Sans';
  text-shadow: 1.5px 1.5px black;
}

.panel-title {
  display: inline-block;
  width: 46%;
  font-size: 1.2rem;
  letter-spacing: .05rem;
  color: #B1B1B1;
  font-family: 'Open Sans';
  text-shadow: .5px .5px black;
  padding: 0;
  text-align: center;
  height: 1.25rem;
}

#map-container {
  float: left;
  display: inline-block;
  width: 70%;
  height: 71vh;
  margin: .25rem;
  margin-left: 2.75%;
  background-color: #B1B1B1;
}

#map-canvas {
  height: 71vh;
  background-color: #333333;
}

#side-panel {
  height: 71vh;
  width: 20%;
  display: inline-block;
  text-align: left;
  margin-top: .5rem;
  margin-left: 2.5rem;
  padding: 0;
  overflow: hidden;
  border-width: 5px;
}

#grad-container {
  overflow: scroll;
  max-height: 85%;
}

#search-container {
  text-align: center;
  margin: 1rem;
}

form {
  margin-top: 1rem;
}

/* Search typeahead */

div#search-bar {
  display: inline-block;
  width: 55%;
  float: left;
}

div#search-bar div.cell {
  display: table-cell;
}

div#search-bar div.cell:last-child {
  width: 1px;
}

input[type=search] {
  height: 1.5rem;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-family: inherit;
  font-size: 1rem;

  margin: 0;
  padding: 0;

  border: 1px solid #B1B1B1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #B1B1B1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #B1B1B1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #B1B1B1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #B1B1B1;
}

.tt-input,
.tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    color: #999;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
    overflow: hidden;
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #B1B1B1;
    border: 1px solid #B1B1B1;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    opacity: .95;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 1rem;
    line-height: 24px;
    color: black;
}

.tt-suggestion.tt-cursor {
    color: white;
    background-color: #333333;
}

.tt-suggestion p {
    margin: 0;
}

/* end search typeahead */

/* Custom dropdown */
.big {
  font-size: 1rem;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.custom-dropdown select {
  font-size: inherit;
  padding: .13em;
  padding-right: 2em;
  border: 0;
  margin: 0;
  border: 1px solid #B1B1B1;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

/* End custom dropdown */

.grad-panel {
  -moz-box-shadow: inset 0 0 5px 0 #B1B1B1;
  -webkit-box-shadow: inset 0 0 5px 0 #B1B1B1;
  box-shadow: inset 0 0 5px 0 #B1B1B1;
  padding: 1%;
  overflow: hidden;
  height: 50%;
  border-radius: 2px;
}

.grad-panel:hover {
  -moz-box-shadow: inset 0 0 5px 0 #333333;
  -webkit-box-shadow: inset 0 0 5px 0 #333333;
  box-shadow: inset 0 0 5px 0 #333333;
}

.grad-pic {
  display: inline-block;
  float: left;
  height: 7rem;
  max-width: 45%;
  margin-right: 5%;
}

.grad-content {
  display: inline-block;
  font-size: 1rem;
  max-width: 50%;
}

.grad-name {
  font-weight: bold;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1";
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

.grad-cohort-name, .grad-city, .grad-company {
  color: gray;
  font-size: .75rem
}

footer {
  margin: .5rem;
  clear: both;
  text-align: center;
}
