body {
  color: #2e3b4e;
  margin: 0;
  background: #f8f8f8;
  font-family: "Helvetica Neue";
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}

h3 {
  padding: .25rem;
  margin: .25rem;
}

a {
  text-decoration: none;
  color: #F7665C;
  line-height: 1.5rem;
}

header {
  border: 1px solid #F7665C;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  overflow: auto;
  background: #333333;
  width: 100%;
  margin-bottom: .5rem;
}

.title {
  letter-spacing: .25rem;
  font-weight: bold;
  font-size: 4rem;
  color: #F7665C;
  font-family: 'Open Sans';
  text-shadow: 1.5px 1.5px black;
  padding: 0;
  margin: -1rem;
}

.panel-title {
  display: inline-block;
  width: 46%;
  font-size: 1.2rem;
  letter-spacing: .05rem;
  color: #b3d1ff;
  font-family: 'Open Sans';
  text-shadow: .5px .5px black;
  padding: 0;
  text-align: center;
  height: 1.25rem;
}

#map-container {
  float: left;
  display: inline-block;
  width: 70%;
  height: 75vh;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
  margin: .5rem;
  margin-left: 2.75%;
  padding: 0;
}

#map-canvas {
  height: 75vh;
  background-color: #333333;
}

#side-panel {
  height: 75vh;
  width: 20%;
  display: inline-block;
  text-align: left;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
  margin-top: .5rem;
  margin-left: 2.5rem;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
}

#grad-container {
  overflow: scroll;
  max-height: 100%;
}

/* Custom dropdown */
.big {
  font-size: 1.2em;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.wide {
  width: 5rem;
}
.custom-dropdown select {
  background-color: #b3d1ff;
  color: #F7665C;
  font-size: inherit;
  padding: .25em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

/* End custom dropdown */

#search-container {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  margin-top: 1rem;
}


.grad-panel {
  box-shadow: .5px .5px 10px #B1B1B1;
  padding: .5rem;
  overflow: hidden;
}

.grad-pic {
  display: inline-block;
  float: left;
  height: 7rem;
  max-width: 6rem;
  margin-right: 5%;
}

.grad-content {
  display: inline-block;
  max-height: 85%;
  max-width: 12rem;
}

.grad-cohort-name, .grad-city, .grad-company {
  color: gray;
}


div#search-bar {
  display: inline-block;

  /* I want the whole search box
     to be exactly this wide. */
  width: 60%;
  /*float: left;*/

  /*margin: 1rem auto 0;*/
}
div#search-bar div.cell {
  display: table-cell;
}
div#search-bar div.cell:last-child {
  width: 1px;
}

input[type=search], div.button {
  width: 100%;
  height: 35px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
}

input[type=search] {
  margin: 0;
  padding: 0 10px;

  background-color: #white;

  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.button {
  line-height: 35px;

  margin: 0;
  padding: 0 20px;

  color: #fff;
  background-color: #2980b9;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;
}

.grad-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.grad-panel:hover {
  box-shadow: .5px .5px 10px #333333;
}

footer {
  padding-top: 1rem;
  clear: both;
  text-align: center;
}
