<h1 class="title">Dev Bootprint</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<!-- <div id="cohort-list">
  Search by cohort:
  <input id="cohort-search">
  <ul class="list">
    <li>
       <h3 class="name">Jonny</h3>
       <p class="city">Stockholm</p>
    </li>
    <li>
      <h3 class="name">Jonas</h3>
      <p class="city">Berlin</p>
    </li>
  </ul>
</div> -->

<div id="cohort-list">
    <input class="fuzzy-search" />
    <ul class="list">
      <% @cohorts.each do |c| %>
      <li>
        <form>
          <button type="submit" class="name"><%= c.name %></button>
        </form>
      </li>
      <% end %>
    </ul>
  </div>